{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}
{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}
{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
   {# 背景動画を表示させるスタイルを読み込みます。#}
   <style>
   .top-wrapper{height: 500px; background-image: url('/assets/img/2bf72e45310b09c0ad25bd30221e2e5f_s.jpg');  background-size: cover; color: black; text-align: center;}
   </style>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
<div class = "top-wrapper">
  <br><br><br><br><br><br><br>
  <h1>This service is for "Bleisures"</h1>
  <h2>You must enjoy your business trip as the leisure</h2>
  <p>あなたの「出張」に「ほのかな楽しみ」を。</p>
</div>

<div class = "btn-wrapper">
  <a href='/post_list' class="btn btn-info btn-lg btn-block">Search your fan</a>
</div>
{% endblock %}

{% block footer_scripts_add %}{% endblock %}
