{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}投稿{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<style>
.post-detail{
  padding:70px 50px;
  background-color:white;
  border-radius: 20px ;
  box-shadow:5px 5px;
  border:1px solid #000;
}

.name{
  display:flex;
  padding-top:20px;
}

.picture0 img {
  width:50px;
  height:50px;
}

.picture1 img {
  width:200px;
  height:200px;
}

.picture2 img {
  width:30px;
  height:30px;
}

.post-for-comment{
  margin-left:100px;
}

.border-bottom{
    border-bottom: solid 1px #000;
}


</style>

{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
  <div class="post-detail">
    <div class="page-header">
      <h1>投稿詳細</h1>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-5">
        <div class="name">
          <div class="picture0">
            <img src="/assets/img/item_sikaku_800.png">
          </div>
          <h2>ニックネーム</h2>
        </div>
        <br>
        <div class="picture1">
          <img src="/assets/img/item_sikaku_800.png">
        </div>

      </div>
      <div class="col-sm-7">
        <br> <br>
        <h3>タイトル：～～～<br><br>
            サブタイトル：～～～～<br><br>
            カテゴリ：～～～～<br><br>
          　内容：～～～～<br><br>
        </h3>
      </div>
    </div>
<br><br>
<a href="#" class="btn btn-info btn-block">コメントを書く</a>
<br><br>

  <div class="border-bottom">
  <div class="post-for-comment">
    <div class="name">
      <div class="picture2">
        <img src="/assets/img/item_sikaku_800.png">
      </div>
      <h4>ニックネーム</h4>
    </div>
    <br>
    <h5>コメント</h5>
    <p>
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
      ========================================-==
    </p>
    <br>
  </div>
  </div>

  <div class="border-bottom">
  <div class="post-for-comment">
    <div class="name">
      <div class="picture2">
        <img src="/assets/img/item_sikaku_800.png">
      </div>
      <h4>ニックネーム</h4>
    </div>
    <br>
    <h5>コメント</h5>
    <p>
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
      ========================================-==
    </p>
    <br>
  </div>
  </div>

</div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
