{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}
{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}
{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
   {# 背景動画を表示させるスタイルを読み込みます。#}
<style>
  .search-category p{
    margin-top:50px;
    margin-bottom: -50px;
  }
</style>
{% endblock %}
{#ここから表示したい情報を記載します。#}
{% block page_content %}
<div class = "search-wrapper">
  <a>フリーワード検索</a>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="料理店名・地酒屋など">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
  </form>
</nav>
</div>



    <div class="form-group prefecture">
      <div class="search-category">
          <p>カテゴリー検索</p>
      </div>
    <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="都道府県名">


    <span style = "padding: 50px; font-size: 50px;">×</span>

    <select class="form-control mr-sm-2" name = "cat_code" type="search" autocomplete="on" list="list"　placeholder="カテゴリー">
<!-- 候補を表示 -->
    <option selected>選択してください
    <option value= "1">郷土料理
    <option value="2">地酒が飲めるお店
    <option value="3">ワーキングスペース
    <option value="4">カフェ
    </div>
   </select>

   <input type="submit" value="検索">


</form>
{% endblock %}
